* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

h1 {
    color: rebeccapurple;
    font-size: 40px;
}

h2 {
    color: blueviolet;
    font-size: 25px;
}

p {
    font-size: 18px;
    text-align: justify;
}

.container {
    width: 1140px;
    margin-left:auto;
    margin-right: auto;
    background-color:pink;
}

.blog-post {
    background-color:yellowgreen;
}

.opening {
    color: red;
    font-size: 21px;
}

.main-text {
    width:75%;
    float:left;
}

#second-text {
    width:75%;
    float:left;
    background-color: cornsilk;
}

.dummy {
    width:25%;
    float: right;
}

.spiral {
    animation: rotate_image 1s linear infinite;
    transform-origin: 50% 50%;
    max-width: 50%;
    height: auto;
    background-color: orange;
}
@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}