* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

h1 {
    color: rebeccapurple;
    font-size: 40px;
}

h2 {
    color: blueviolet;
    font-size: 25px;
}

p {
    font-size: 18px;
    text-align: justify;
}

.opening {
    color: red;
    font-size: 21px;
}

.main-text {
    -webkit-transform: rotate(-7deg);
    margin: 0;
    padding: 0;
}

#second-text {
    -webkit-transform: rotate(-180deg);
}

.spiral {
    animation: rotate_image 1s linear infinite;
    transform-origin: 50% 50%;
    max-width: 50%;
    height: auto;
}
@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}