body {
  font-family: "Noto Sans KR", sans-serif;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

.dogo {
  background-color: lightgray; /* Green */
  border: none;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 3px;
  border-radius: 6px;
}
